.overlay{
height: 90vh !important;
}
.holder {
    width: 63.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 90vh;
    animation: fadein 2s ease-in-out forwards;
    border-right: 2px solid rgba(128, 128, 128, 0.168);

    /* border-left: 32px solid #f6f6f6; */
 
}
.ar{
margin-top: 30px;
}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.canvas{
    z-index: 0;
      pointer-events: auto;
}
/* .arbtnmain{
position: absolute !important;
z-index: 0;
background-color: brown !important;
margin: 0;
pointer-events: none;
padding: 0;

} */

@media screen and (max-width: 768px){
.holder{
    width: 100vw;
}

}
@media screen and (max-width: 500px){
  .ar{
    margin-top: 10vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
  }
    
    }